<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean for Address -->
    <bean id="addressBean" class="com.tnsif.ioc.Address">
        <constructor-arg value="Cuddalore"/>
        <constructor-arg value="Tamil Nadu"/>
    </bean>
<!-- #region --->
    <!-- Bean for Student -->
    <bean id="studentBean" class="com.tnsif.ioc.Student">
        <constructor-arg value="101"/>
        <constructor-arg value="Ramya"/>
        <constructor-arg ref="addressBean"/>
    </bean>

</beans>
